:root {
  /*========== Colors ==========*/
  --blue-primary: #051622;
  --blue-secondary: #0b283d;
  --golden-primary: #e2b96f;
  --golden-secondary: #f9e9b7;
  --main-gradient: linear-gradient(
    45deg,
    rgba(226, 185, 111, 1) 0%,
    rgba(249, 233, 183, 1) 100%
  );

  /*========== Font and typography ==========*/
  --sans: "Open Sans", sans-serif;
  --serif: "Lora", serif;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

  /* Responsive typography */
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
}

/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

body {
  background: var(--blue-primary);
  color: white;
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1280px;
  margin: 0 auto 0 auto;
}

.section {
  padding: 4rem 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background: var(--main-gradient);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--first-color);
  color: white;
}

/*=============== HOME/MAIN BANNER ===============*/

/*=============== COURSE STATS ===============*/
.section.stats {
  background: var(--main-gradient);
}

.section.stats .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statbox__time {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--h1-font-size);
}

.statbox__time .box-main {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-extrabold);
}
.statbox__time .box-main span {
  color: var(--blue-primary);
}

.statbox__time .box-content {
  line-height: 1.1;
  color: var(--blue-primary);
}
.statbox__time .box-content span {
  font-weight: var(--font-bold);
}

.statbox__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.statbox__quantity .box-main {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-extrabold);
}
.statbox__quantity .box-secondary {
  display: flex;
  align-items: center;
  font-size: var(--h1-font-size);
  color: var(--blue-primary);
}
.statbox__quantity .box-secondary .course-quantity {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-bold);
}
.statbox__quantity .box-secondary .completed-text {
  font-weight: var(--font-bold);
}

.statbox__students {
  display: flex;
  align-items: center;
  font-size: var(--h1-font-size);
  gap: 1rem;
  color: var(--blue-primary);
}

.statbox__students .box-main {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-extrabold);
}

.statbox__students .box-main span {
  color: white;
}

/*=============== COURSE LEVELS  ===============*/
.section.levels .levels__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.section.levels .levels__title span {
  font-size: calc(var(--biggest-font-size) * 2);
  margin-top: 0.25;
  font-family: var(--serif);
  font-weight: var(--font-semi-bold);
  color: var(--golden-secondary);
  letter-spacing: 2px;
}

.levels__options-grid {
  display: flex;
  margin-top: 6rem;
  justify-content: space-around;
}

.levels__options-box {
  background: var(--main-gradient);
  width: 280px;
  user-select: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.levels__options-box .options-box__header {
  padding: 1rem;
  font-weight: var(--font-bold);
  color: var(--blue-primary);
  text-align: center;
  font-size: var(--h1-font-size);
}
.levels__options-box .options-box__image {
  height: 300px;
  background-size: cover;
  background-position: center;
}
.levels__options-box .options-box__image.online {
  background-image: url("./assets/img/IMG_0125.jpg");
}
.levels__options-box .options-box__image.immersion {
  background-image: url("./assets/img/IMG_0490.jpg");
}
.levels__options-box .options-box__image.coach {
  background-image: url("./assets/img/IMG_0275.jpg");
}

/*=============== COURSE THEMES ===============*/

/*=============== TIME COUNTER ===============*/

/*=============== BENEFITS TABLE ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== MEDIA QUERYS ===============*/
