:root {
  /*========== Colors ==========*/
  --blue-primary: #051622;
  --blue-secondary: #0b283d;
  --golden-primary: #e2b96f;
  --golden-secondary: #f9e9b7;
  --main-gradient: linear-gradient(
    45deg,
    rgba(226, 185, 111, 1) 0%,
    rgba(249, 233, 183, 1) 100%
  );

  /*========== Font and typography ==========*/
  --sans: "Open Sans", sans-serif;
  --serif: "Lora", serif;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

  /* Responsive typography */
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
}

/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

body {
  background: var(--blue-primary);
  color: white;
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1280px;
  margin: 0 auto 0 auto;
}

.section {
  padding: 4rem 1.5rem;
}

.main {
  overflow: hidden;
}

.input {
  appearance: none;
  background-color: transparent;
  padding: 1.25rem;
  border: 3px solid var(--golden-secondary);
  color: white;
  outline: none;
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background: var(--main-gradient);
  padding: 1rem 1.65rem;
  color: var(--blue-primary);
  font-weight: var(--font-semi-bold);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

/*=============== HOME/MAIN BANNER ===============*/

/*=============== COURSE STATS ===============*/
.section.stats {
  background: var(--main-gradient);
}

.section.stats .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statbox__time {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--h1-font-size);
}

.statbox__time .box-main {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-extrabold);
}
.statbox__time .box-main span {
  color: var(--blue-primary);
}

.statbox__time .box-content {
  line-height: 1.1;
  color: var(--blue-primary);
}
.statbox__time .box-content span {
  font-weight: var(--font-bold);
}

.statbox__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.statbox__quantity .box-main {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-extrabold);
}
.statbox__quantity .box-secondary {
  display: flex;
  align-items: center;
  font-size: var(--h1-font-size);
  color: var(--blue-primary);
}
.statbox__quantity .box-secondary .course-quantity {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-bold);
}
.statbox__quantity .box-secondary .completed-text {
  font-weight: var(--font-bold);
}

.statbox__students {
  display: flex;
  align-items: center;
  font-size: var(--h1-font-size);
  gap: 1rem;
  color: var(--blue-primary);
}

.statbox__students .box-main {
  font-size: calc(var(--biggest-font-size) * 1.75);
  font-weight: var(--font-extrabold);
}

.statbox__students .box-main span {
  color: white;
}

/*=============== COURSE LEVELS  ===============*/
.section.levels .levels__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.section.levels .levels__title span {
  font-size: calc(var(--biggest-font-size) * 2);
  margin-top: 0.25;
  font-family: var(--serif);
  font-weight: var(--font-semi-bold);
  color: var(--golden-secondary);
  letter-spacing: 2px;
}

.levels__options-grid {
  display: flex;
  margin-top: 6rem;
  justify-content: space-around;
}

.levels__options-box {
  background: var(--main-gradient);
  width: 280px;
  user-select: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.levels__options-box .options-box__header {
  padding: 1rem;
  font-weight: var(--font-bold);
  color: var(--blue-primary);
  text-align: center;
  font-size: var(--h1-font-size);
}
.levels__options-box .options-box__image {
  height: 300px;
  background-size: cover;
  background-position: center;
}
.levels__options-box .options-box__image.online {
  background-image: url("./assets/img/IMG_0125.jpg");
}
.levels__options-box .options-box__image.immersion {
  background-image: url("./assets/img/IMG_0490.jpg");
}
.levels__options-box .options-box__image.coach {
  background-image: url("./assets/img/IMG_0275.jpg");
}

/*=============== COURSE THEMES ===============*/
.section.themes {
  background-image: url("./assets/img/square_pattern.png");
  background-position: center;
  background-size: cover;
}

.section.themes .container {
  display: flex;
  gap: 8rem;
}

.section.themes .tablets {
  height: 60vh;
}

.section.themes .themes__box {
  background-color: var(--blue-primary);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  flex: 1;
  padding: 2.5rem;
  display: flex;
}

.themes__box-internal {
  border: 6px solid var(--golden-primary);
  flex: 1;
  padding: 2.5rem;
}

.themes__box-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  line-height: 1.25;
  font-family: var(--serif);
  letter-spacing: 2px;
}

.themes__box-list {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  max-width: 380px;
}

.themes__box-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.themes__box-image-wrapper img {
  width: 2.5rem;
}

.themes__box-list-item span {
  font-size: var(--h1-font-size);
}

/*=============== TIMER ===============*/
.section.timer {
  background: var(--main-gradient);
}

.section.timer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.timer_legend {
  font-size: var(--h1-font-size);
  color: var(--blue-primary);
  font-weight: 500;
  line-height: 1.25;
}

.timer__grid {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 2rem;
}

.timer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  background-color: var(--blue-primary);
}
.timer__box-number {
  font-size: calc(var(--biggest-font-size) * 1.5);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

/*=============== BENEFITS TABLE ===============*/
.section.table .container {
  display: flex;
}

.benefits__table {
  background: var(--main-gradient);
  width: 100%;
  border: 2px solid var(--golden-primary);
}

.benefits__table th {
  color: var(--blue-primary);
  font-size: var(--h1-font-size);
  padding: 1rem;
}

.benefits__table td {
  font-size: var(--h3-font-size);
  padding: 1rem;
}

.benefits__table tr:nth-child(even) {
  background-color: var(--blue-primary);
}
.benefits__table tr:nth-child(odd) {
  background-color: var(--blue-secondary);
}
.benefits__table tr:nth-child(1) {
  font-weight: var(--font-bold);
  background-color: transparent;
}
.benefits__table tr:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: var(--font-bold);
}
.benefits__table tr:nth-child(2) td {
  color: var(--blue-primary);
  text-align: center;
  font-size: var(--h2-font-size);
}
.benefits__table tr:nth-child(2) td span {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.content__text-table-cell {
  transform: translateY(0.75rem);
}

.content_cell {
  font-size: var(--h2-font-size);
  max-width: 320px;
  line-height: 1.35;
}
.content_cell b {
  font-weight: var(--font-semi-bold);
}

.x_cell span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.special__row {
  background-color: transparent !important;
  color: var(--blue-primary);
}

/*=============== NEWSLETTER ===============*/
.section.newsletter {
  background-image: url("/assets//img/judge-background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 80dvh;
  overflow: hidden;
  position: relative;
}

.section.newsletter::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(11, 40, 61);
  background: linear-gradient(
    128deg,
    rgba(11, 40, 61, 0.8) 0%,
    rgba(11, 40, 61, 0.05) 100%
  );
  inset: 0;
  z-index: 0;
}

.section.section.newsletter .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section.section.newsletter form {
  display: grid;
}

.newsletter__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: calc(var(--biggest-font-size) * 1.65);
  letter-spacing: 2px;
  font-family: var(--serif);
  font-weight: var(--font-bold);
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.newsletter__title span {
  font-size: calc(var(--biggest-font-size));
  font-family: var(--sans);
  font-weight: var(--font-semi-bold);
  color: var(--golden-secondary);
}

.newsletter__group-info {
  margin-bottom: 4rem;
  letter-spacing: 1px;
  line-height: 1.15;
  font-weight: var(--font-semi-bold);
}

.newsletter__group-form {
  display: grid;
  gap: 2rem;
}

.newsletter__group-form button {
  width: max-content;
  margin: 0 auto 0 auto;
  font-size: var(--h3-font-size);
}

/*=============== MEDIA QUERYS ===============*/
